.table {
  background-color: rgb(245, 246, 250);
  color: black;

  display: flex;
  flex-direction: column;
  gap: 0.5%; 

  height: 60vh; 
  max-height: 460px; 
  min-height: 200px; 

  overflow-y: auto;
  overflow-x: hidden;

  width: 100%;
}

.table__header {
  font-weight: bold;

  display: flex;
  flex-direction: row;
  width: 100%;
}

.header__item {
  min-height: 6vh; 
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: space-between;

  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 33%;

  padding: 1.5% 2%; 
}

.item__arrow {
  color: rgb(189, 189, 189);
  font-size: 1.2rem; 
}

.table__row {
  background-color: white;

  display: flex;
  flex-direction: row;
  width: 100%;
}

.row__item {
  min-height: 6vh;

  display: flex;
  align-items: center;
  justify-content: flex-start;

  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 33%;

  padding-left: 2%;
}
